#main {
    .container {
        height: 600px;
        // background: skyblue;

        .nologin {
            border: 1px solid #edd28b;
            background: #fffdee;
            padding: 10px 20px;
            line-height: 25px;
            margin-bottom: 20px;
            color: #f70;
            display: none;

            span {}

            a {
                height: 25px;
                line-height: 25px;
                background-color: #e74649;
                display: inline-block;
                border-radius: 3px;
                color: #fff;
                font-size: 12px;
                font-weight: 400;
                padding: 0 10px;
            }
        }
        
    }
}

#main .container .car_table{
	width: 100%;
	border-spacing: 0;
}
#main .container .car_table thead tr th:nth-child(1){
	width: 540px;
	padding-left: 10px;
}
#main .container .car_table thead tr th:nth-child(2){
	width: 90px;
}
#main .container .car_table thead tr th:nth-child(3){
	width: 150px;
}
#main .container .car_table thead tr th:nth-child(4){
	width: 130px;
}
#main .container .car_table thead tr th:nth-child(5){
	width: 70px;
}
#main .container .car_table thead tr th{
	height: 37px;
	text-align: left;
	border-bottom: 2px solid #D9D9D9;
}
#main .container .car_table tbody tr td{
	height: 100px;
	border-bottom: 1px solid #D9D9D9;
	color: #404040;
}
#main .container .car_table tbody tr td div{
	width: 80px;
	height: 90px;
	float: left;
}
#main .container .car_table tbody tr td div{
	margin-right: 10px;
}
#main .container .car_table tbody tr td div img{
	width: 100%;
	height: 90px;
	
}
#main .container .car_table tbody tr td{
	line-height: 20px;	
}
#main .container .car_table tbody>tr>td{
	color: #333333;
}
#main .container .car_table tbody>tr>td:nth-child(1){
	padding-left: 10px;
}
#main .container .car_table tbody>tr>td>:nth-child(2){
	color: #0088D6;
}
#main .container .car_table tbody tr td:nth-child(2) .btn{
	width: 52px;
	height: 20px;
	margin-right: 0;
}
#main .container .car_table tbody tr td:nth-child(2) .btn input{
	float: left;
}
#main .container .car_table tbody tr td:nth-child(2) .btn input:nth-child(1),
#main .container .car_table tbody tr td:nth-child(2) .btn input:nth-child(3){
	display: inline-block;
	width: 12px;
	height: 19px;
}
#main .container .car_table tbody tr td:nth-child(2) .btn input:nth-child(2){
	width: 27px;
	height: 19px;
	text-align: center;
}
#main .container .car_table tbody tr td:nth-child(3) p:nth-child(1){
	text-decoration: line-through;
}
#main .container .car_table tbody tr td:nth-child(3) p:nth-child(2){
	color: #FF4500;
	font-weight: bold;
}
#main .container .car_table tbody tr td:nth-child(4) p:nth-child(2){
	color: #298D46;
}
#main .container .car_table tbody tr td:nth-child(5)>i{
	display: block;
	width: 14px;
	height: 14px;
	background: url("../images/shoppingCar_sprites.png") no-repeat;
	background-position: -90px 0px;
	margin: 0 auto;
}
#shoppingCar .container .car_table tfoot{
	width: 100%;
}
#shoppingCar .container .car_table tfoot>tr{
	height: 120px;
}
#shoppingCar .container .car_table tfoot tr td:nth-child(1){
	color: #333333;
	padding-top: 40px;
	padding-left: 40px;
	vertical-align: top;

}
#main .container .car_table tfoot tr td:nth-child(1){
	position: relative;
}
#main .container .car_table tfoot tr td:nth-child(1) span:before{
	content: "";
	background: url("../images/shoppingCar_sprites.png") no-repeat;
	background-position: -120px 0;
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 22px;
	top: 42px;
}
#main .container .car_table tfoot tr td:last-child p{
	line-height: 26px;
}
#main .container .car_table tfoot tr td:last-child p:nth-child(1) span:nth-child(2){
	font-size: 14px;
	font-weight: bold;
	color: #FF4500;
}
#main .container .car_table tfoot tr td:last-child p:nth-child(2){
	color: #228B22;
}
#main .container .car_table tfoot tr td:last-child div{
	width: 185px;
	height: 30px;
	background: #FF4500;
	line-height: 30px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	border-radius: 15px 0 0 15px;

}
#main .container .car_table tfoot tr td:last-child div{
	position: relative;
}
#main .container .car_table tfoot tr td:last-child div span:before{
	content: "";
	background: url("../images/shoppingCar_sprites.png") no-repeat;
	background-position: -140px 0;
	display: block;
	width: 9px;
	height: 12px;
	position: absolute;
	right: 3px;
	top: 9px;
}