#index .container {
    padding-left: 24px;
    /*height: 34px;*/
    position: relative;
}

#index .container i {
    display: block;
    width: 15px;
    height: 15px;
    background: url(../images/productcatalog_sprites.png) no-repeat;
    position: absolute;
    left: 6px;
    top: 9px;
}

#index .container .nav {}

#index .container .nav li {
    float: left;
    /*height: 34px;*/

}

#index .container .nav li:after {
    content: " > ";
}

#index .container .nav li:last-child:after {
    content: "";
}

#index .container .nav li a {
    font-size: 12px;
    color: #333333;
    line-height: 34px;
}

// -------------------------------------------
#main {
    .container {
        height: 500px;
        // background: red;

        .main_l {
            width: 352px;
            height: 479px;
            // background: green;

            .fangdajing {
                height: 360px;
                width: 300px;
                margin: 100px auto 0;
                background: red;
                overflow: hidden;
                zoom: 1;
            }

            .t_container {
                height: 300px;
                width: 300px;
                overflow: hidden;
                zoom: 1;
            }

            .jqzoom {
                position: relative;
                /*必须，使弹出框鼠标移动框位置固定对应位置*/
                height: 100%;
                width: 100%;
                border: 1px solid #ccc;
                border-bottom: none;
            }

            .jqzoom img {
                display: block;
                border: none;
                height: 100%;
                width: 100%;
                // background: red;
            }

            .b_container {
                height: 60px;
                width: 300px;
                overflow: hidden;
                zoom: 1;
            }

            .b_container>img {
                display: block;
                border: 1px solid #ccc;
                border-left: none;
                float: left;
                width: 20%;
                height: 60px;
            }

            .b_container>img:first-child {
                border-left: 1px solid #ccc;
            }





            /* main style */
            div.zoomdiv {
                z-index: 999;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 200px;
                height: 200px;
                background: #ffffff;
                border: 1px solid #CCCCCC;
                display: none;
                text-align: center;
                overflow: hidden;
                .bigimg{
                    width:100%;
                    height: 100%;
                }
            }

            div.jqZoomPup {
                z-index: 999;
                visibility: hidden;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 50px;
                height: 50px;
                border: 1px solid #aaa;
                background: #ffffff url(../images/zoomlens.gif) 50% top no-repeat;
                opacity: 0.5;
                -moz-opacity: 0.5;
                -khtml-opacity: 0.5;
                filter: alpha(Opacity=50);
            }
        }

        .main_r {
            width: 790px;
            margin-left: 30px;

            .sku-name {
                font: 700 16px Arial, "microsoft yahei";
                color: #666;
                padding-top: 10px;
                line-height: 28px;
                margin-bottom: 5px;
            }

            .summary {
                position: relative;
                padding-bottom: 5px;
            }

            .summary-first {
                .summary-price-wrap {
                    padding: 10px 0 0;
                    height: 100px;
                    background: #f3f3f3;

                    .summary-price {
                        position: relative;
                        margin-bottom: 5px;

                        .dt {
                            line-height: 22px;
                            float: left;
                            padding-left: 10px;
                            font-family: simsun;
                            color: #999;
                        }

                        .dd {
                            margin-left: 70px;

                            .p-price {
                                color: #E4393C;
                                font-family: "microsoft yahei";
                                margin-right: 10px;
                            }

                            .notice {
                                color: #005aa0;
                                vertical-align: 2px;
                            }
                        }
                    }

                    .summary-info {
                        position: absolute;
                        z-index: 1;
                        right: 10px;
                        top: 8px;
                        color: #999;
                    }
                }
            }

            .choose-attrs {
                padding: 20px 0;
                border-top: 1px dotted #ccc;
                border-bottom: 1px dotted #ccc;

                .li {
                    margin-bottom: 3px;
                    line-height: 32px;
                    // display: inline-block;
                    display: block;

                    .dt {
                        float: left;
                        padding-left: 10px;
                        font-family: simsun;
                        color: #999;
                    }

                    .dd {
                        margin-left: 70px;

                        .item {
                            float: left;
                            color: #666;
                            background-color: #FFF;
                            margin-right: 7px;
                            margin-bottom: 4px;

                            a {
                                border: 1px solid #ccc;
                                padding: 0 13px;
                                display: block;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }

            .choose-btns {
                margin-top: 10px;
                margin-bottom: 20px;
                padding: 0 10px;

                .choose-amount {
                    width: 58px;
                    height: 44px;
                    overflow: hidden;
                    border: 1px solid #ccc;
                    position: relative;
                    margin-right: 10px;
                    float: left;

                    .wrap-input {
                        .text {
                            display: block;
                            width: 43px;
                            height: 42px;
                            line-height: 42px;
                            position: absolute;
                            top: 1px;
                            left: 0;
                            border: none;
                            border: 0;
                            text-align: center;
                            padding: 1px 0px;

                            // display: inline-block;
                            // width: 58px;
                            // height: 44px;
                            // border: 0;
                            // padding-left: 3px;
                        }

                        .btn-reduce,
                        .btn-add {
                            display: block;
                            width: 15px;
                            text-align: center;
                            height: 22px;
                            line-height: 22px;
                            overflow: hidden;
                            background: #f1f1f1;
                            color: #666;
                            position: absolute;
                            right: -1px;
                            border: 1px solid #ccc;
                        }

                        .btn-reduce {
                            bottom: -1px;
                        }
                    }


                }

                .btn-lg {
                    margin-right: 10px;
                    float: left;
                    color: #fff;
                    height: 46px;
                    line-height: 46px;
                    padding: 0 26px;
                    font-size: 18px;
                    font-family: "microsoft yahei";
                    background:red;
                }
            }
        }
    }
}